*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #2B2B2B;
}
a{
    color: white;
    text-decoration: none;
}
header{
    width: Fill (1,280px);
    height: Hug (100px);
    padding: 20px, 50px, 20px, 50px;
    justify-content: space-between;
    display: flex;
    margin: 30px;
    line-height: 58px;
    div{
        display: inherit;
        
    }

    h3{
        font-family: Georgia, serif;
        font-style:normal;
        letter-spacing: 1px;
        @import url('https://fonts.googleapis.com/css2? Family= Playfair+Display:wght@900 & display=swap');
    }
}
.button_nav_1{
    width: 152px;
    height:60px;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    background: #A259FF;
    color: white;      
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;   

    
}
.header_left_logo{
    width: Hug (243.41px);
    height: Hug (32px);
    display: flex;
    gap: 10px;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
        
    }

}
.header_right_links{
    display: flex;
    justify-content: baseline;
    gap: 50px;
    
}
.Hero_section{
    width: 1050px;
    margin: 100px auto;
}
.Hero_section_Frame{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.Headline_Subhead{
    h1{
        font-family: Work Sans;
        font-size: 67px;
        font-weight: 600;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
    }
    p{
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;

    }
    
}

.button_main_raket{
    margin: 30px 0px;
    width: 185px;
    height: 58px;
    border-radius: 15px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background: #A259FF;

}
.Additional_Infi{
    display: grid;
    grid-template-columns: auto auto auto;
}
.Frame{
    height: 80px;
    background: #3B3B3B;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    h3{
        margin-left: 10px;
    }
    div{
        display: flex;
        margin: 10px 0px;

        img{
            margin: 0px 10px;
        }
    }
}
.Section_headline{
    margin: 30px 0px;
    h2{
        //styleName: H3 - Work Sans;
        font-family: Work Sans;
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
    }
    p{
        //styleName: Body Text- Work Sans;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;

    }

}
.Treding_collection{
    width: 950px;
    margin: auto;
}
.collection_card_row{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: space-around;
    img{
        width: 280px;
        height: 330px;
        border-radius: 20px;
    }
    .Avatar_size{
        display: flex;
        gap: 10px;
        img{
            width: 20px;
            height: 20px;
        }
    }
    h1{
        //styleName: H5 - Work Sans;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.Top_Rated_Artist{
    width: 960px;
    margin: 100px auto;
}
.Section_Headline_Button{
    display: flex;
    justify-content: space-between;
}
.View_Rankings_button{
    .View_button{
        width: 185px;
    height: 48px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background: inherit;
    border: solid #A259FF;
    margin: 30px 0px;    
    }
}
.Artist_Cards_grid{
    display: grid;
    gap:30px;
    grid-template-columns: auto auto auto auto;
    font-size: smaller ;
    div{
        background: #3B3B3B;
        width: Fill (240px);
        height: Hug (238px);
        padding: 20px;
        border-radius: 20px;
        gap: 20px;
        div{
            text-align: center;
        }
    }
}
.Brows_cotegories{
    margin: 100px 0px;
}
.Category_Cards_Grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    div{
        img{
            width: 220px;
            height: 220px;
            border-radius: 20px, 20px, 0px, 0px;
            }
            div{
                width: Fill (220px);
                height: 56px;
                padding: 20px, 30px, 25px, 30px;
                
                background: #3B3B3B;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                h2{
                    padding: 10px 20px;
                }


            }
    }
}
.Discovery_more_NFTs{
    margin-top: 100px;
}
.NFT_Cards_Row{
    width: 1050px;
    margin: 50px auto;
    width: Fill (330px);
    height: Fixed (469px);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    img{
        width: 310px;
    }
    .NFT_info{
        background: #3B3B3B;
        width: 310px;
        border-bottom-left-radius:20px;
        border-bottom-right-radius: 20px;
    }
}   
.avatar_info_img{
    display: flex;
    justify-content: baseline;
    p{
        margin-top: 5px;
        margin-left: 10px;
    }

    img{
        width: 30px;
        height: 30px;
    }   
}
.additional_info{
    display: grid;
    grid-template-columns: auto auto;
    span{
        font-family: Space Mono;
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #858584;
    }
    h5{
        font-family:cursive;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.contaner_img{
    padding: 10px 20px ;
}
.Artst_Info{
    div{
        margin: 10px 0px;
    }
}

.NFT_Highhight{
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
    width: 100%;
    height: 80vh;
    background-size:100%;
    position: absolute;
    left: 0px;
}
.Artist_card{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 50px;
    div{
        display: flex;
        justify-content: baseline;
        p{
            margin-left: 10px;
            //styleName: Base(Body) - Work Sans;
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
    
        }
    }
    h2{
        //styleName: H2 - Work Sans;
        font-family: Work Sans;
        font-size: 51px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;

    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width:198px;
        height: 60px;
        padding: 22px, 50px, 22px, 50px;
        border-radius: 20px;
        gap: 12px;
        color:#2B2B2B;
    }
}
.Frame_240{
    display: flex;
    justify-content: space-around;
    margin: 300px 100px;
}
.Auction_timer{
    width: 295px;
    height: 144px;
    padding: 30px;
    border-radius: 20px;
    gap: 10px;
    background: #3B3B3B80;
    h5{
        //styleName: Caption - Space Mono;
        font-family: Space Mono;
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;

    }
    div{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        div{
            display: block;
            h3{
                //styleName: H3 - Space Mono;
                font-family: Space Mono;
                font-size: 38px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0em;
                text-align: left;
            }
            p{
                //styleName: Caption - Space Mono;
                font-family: Space Mono;
                font-size: 12px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;

            }
        }
    }
}
.How_it_works{
    margin-top: 800px;
}
.Card_rows{
    display: flex;
    justify-content: space-between;
    div{
        width:  270px;
        height: 389px;
        padding: 10px, 30px, 30px, 30px;
        border-radius: 20px;
        gap: 20px;

        background: #3B3B3B;
    }
    h2{
       font-family: Work Sans;
        font-size: 22px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;
    }
    p{
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;

    }
}
.Subscribe_widget{
    margin-top: 100px;
    width: Fixed (1,050px);
    height: Hug (430px);
    padding: 60px;
    border-radius: 20px;
    gap: 80px;
    display: flex;
    justify-content: space-around;
    background: #3B3B3B;

    div{
        margin-top: 20px;
        h1{
            font-family: Work Sans;
            font-size: 38px;
            font-weight: 600;
            line-height: 46px;
            letter-spacing: 0em;
            text-align: left;
        }
        p{
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;

        }
    }

}
.Subscribe_Form{
    background: #FFFF;
    width: 355px;
    border-radius: 20px;

    input{
        width: 225px;
        height: 60px;
        padding: 16px, 0px, 16px, 20px;
        border-radius: 20px;
        gap: 12px;
        border: none;
        outline: none;
        color: black;
    }
    button{
        width:125px;
        height: 60px;
        padding: 16px, 0px, 16px, 20px;
        border-radius: 20px;
        gap: 12px;
        background: #A259FF;


    }   


}
footer{
    .footer_info{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        background: #3B3B3B;
        
    }
    p{
        //styleName: Base(Body) - Work Sans;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #CCCCCC;
        margin: 20px 0px;

    }
    h3{
        //styleName: H5 - Space Mono;
        font-family: Space Mono;
        font-size: 22px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 20px;
    }
}   
hr{
    width: 1250px;
    margin: -50px auto;

}
.Create_accout_imput{
    display: flex;
    align-items: center;
    background: white;
    width: 260px;
    height: 46px;
    padding: 16px, 20px, 16px, 20px;
    border-radius: 20px;
    border: 1px;
    gap: 12px;
    img{
        margin-left: 20px;
    }
    input{
        border: none;
        color: black;
        outline: none;
    }

}
.Create_accout_button{
    width: 260px;
    height: 46px;
    padding: 0px, 50px, 0px, 50px;
    border-radius: 20px;
    gap: 12px;
    background: #A259FF;


}
.Create_accout{
    display: grid;
    grid-template-columns: auto auto;
}
.Create_accout_img{
    img{
        width: 710px;
        height: 591px;

    }
}
.wallet_options{
    margin-top: 30px;
    width: 300px;
    height: 76px;
    padding: 0px, 20px, 0px, 40px;
    border-radius: 20px;
    border: 1px;
    gap: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(0deg, #3B3B3B, #3B3B3B),
linear-gradient(0deg, #A259FF, #A259FF);
    border: 1px solid #A259FF;
    img{
        padding: 10px 20px;
    }
    h5{
        //styleName: H5 - Work Sans;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.cover_profile_image{
    img{
        width: 100%;
    }
}
.cover_profile_image + div{
    margin-top: -70px;
    margin-left: 100px;
}
.Artist_info{
    display: grid;
    grid-template-columns: auto auto;
    h3{
        //styleName: H2 - Work Sans;
        font-family: Work Sans;
        font-size: 41px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
    }
    span{
        //styleName: H5 - Space Mono;
        font-family: Space Mono;
        font-size: 22px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #858584;
    }
    p{
        //styleName: Body Text- Work Sans;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.Artist_name{
    width: 599px;
    height: 377px;
    gap: 30px;
    margin: auto;

}
.button_artist_main{
    display: flex;
    
    button{
        width: 186px;
        height: 60px;
        padding: 0px, 50px, 0px, 50px;
        border-radius: 20px;
        gap: 12px;
        background: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button:first-child{
        background: #A259FF;

    }
}
.line1{
    position: absolute;
    left: 130px;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    div{
        width: 350px;
        height: 60px;
        padding: 0px, 30px, 0px, 30px;
        border: 0px, 0px, 2px, 0px;
        gap: 16px;
        display: flex;

        h4{
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: center;
        }
    div{
        width: 50px;
        height: 32px;
        padding: 5px, 10px, 5px, 10px;
        border-radius: 20px;
        gap: 10px;
        background: #858584;
        align-items: center;
        justify-content: center;
        display: flex;
    }    
    }
}